:root {
  --nav-backround-green: #425230;
  --nav-dark-black: #14190a;
  --nav-hover-text: #e4e5d8;
  --white-color: #ffffff;
  --background-body-offwhite: #fcfbf5;
  --dark-grey: #787c70;
  --medium-grey: #c9c9c0;
  --light-grey: #ddded7;
  --footer-background-green: #3c4230;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background-color: var(--nav-backround-green);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: var(--white-color);
  text-decoration: none;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #14190a;
}

.banner {
  background-color: black;
  color: antiquewhite;
}

.main-div {
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  background-color: aqua;
  
}

.main-content {
  background-color: var(--light-grey);
  border: transparent;
  border-radius: 8px;
  width: 100%;
  height: 40vh;
  padding: 1rem;
}

.mammalsAbout{

  color: var(--nav-dark-black);
  text-align: left;
  padding: 1rem;
}

.mammalsHeader{

  padding: 1rem;
  font-size: 1.2rem;
  text-align:left;
  color: var(--nav-dark-black);
}

.footer {
  background-color: coral;
}

.mammals_arr{

  display: flex;
  flex-direction: column;
  color: var(--white-color);
  background: var(--dark-grey);
}

.mammal{

  background-color: var(--dark-grey);
  color: var(--white-color);
}
