:root {
    --nav-background-green: #425230;
    --nav-dark-black: #14190a;
    --nav-hover-text: #e4e5d8;
    --white-color: #ffffff;
    --background-body-offwhite: #fcfbf5;
    --dark-grey: #787c70;
    --medium-grey: #c9c9c0;
    --light-grey: #ddded7;
    --footer-background-green: #3c4230;
}

.banner-members {
    background-image: url(../images/cassowary-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
}

.sidebar-button.active {
    background-color: var(--background-body-offwhite);
    color: var(--nav-dark-black);
}

.member-container {
    display: flex;
    height: auto;
    width: 400px;
    background-color: var(--medium-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

}

.main-content p {
    max-width: 600px;
    line-height: 1.6;
    margin: 10px 0;
    font-size: 1rem;
}

.member-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 2px 10px var(--dark-grey)
}

@media (max-width: 480px) {
    .member-image {
        max-width: 250px;
    }

    .member-container {
        max-width: 200px;
        height: auto;
    }
}