.banner-birds {
    background-image: url(../images/cassowary-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
}

.sidebar-button.active {
    background-color: var(--background-body-offwhite);
    color: var(--nav-dark-black);
}

.bird-container {
    background-color: var();
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* yatay ortalama */
    text-align: center;
    /* yazıları ortalar */
    padding: 20px;

}

.main-content p {
    max-width: 600px;
    /* paragraf uzunluğunu kontrol eder */
    line-height: 1.6;
    /* okunabilirlik */
    margin: 10px 0;
    /* dikey boşluk */
    font-size: 1rem;

}