.banner-birds {
    background-image: url(../images/cassowary-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
}

.sidebar-button.active {
    background-color: var(--background-body-offwhite);
    color: var(--nav-dark-black);
}

.bird-container {
    background-color: var();
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.main-content p {
    max-width: 600px;
    line-height: 1.6;
    margin: 10px 0;
    font-size: 1rem;
}

.readme-btn {
    display: block;
    background-color: var(--dark-grey);
    color: var(--white-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}

.readme-btn:hover {
    background-color: var(--nav-background-green);
    color: var(--white-color);
}

.bird-image {
    display: flex;
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 2px 10px var(--dark-grey)
}