.reptiles-banner {
  background-image: url(../images/Reptiles/reptiles-page-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  width: 100%;
}

.page-title {
  text-align: center;
}

.main-content img {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto 24px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 10px var(--dark-grey)
}

.main-content {
  text-align: center;
  margin-bottom: 24px;
}

.default-message {
  max-width: 50%;
  text-align: center;
}

.sidebar-button.active {
  background-color: #425230;
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-content img {
    width: 100%;
    max-width: 300px;
  }

}