.reptiles-banner {
  background-image: url(../images/Reptiles/reptiles-page-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  width: 100%;
}

.page-title {
  text-align: center;
}

.sidebar-title {
  color: inherit;
  text-decoration: none;
  padding: 5px;
  margin: 5px 0 5px 0;
}

.main-content img {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto 48px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 10px var(--dark-grey);
}

.main-content {
  text-align: center;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
}

.main-content h2 {
  margin-bottom: 24px;
}

.default-message {
  padding: 24px;
  text-align: center;
  margin: 0 auto;
}

.sidebar-button.active {
  background-color: var(--background-body-offwhite);
  color: var(--nav-dark-black);
  font-weight: bold;
}

.read-more-button {
  color: var(--white-color);
  background-color: var(--dark-grey);
  padding: 8px;
  font-size: medium;
  border-radius: 8px;
  border: none;
  margin-top: 24px;
  cursor: pointer;
}

.read-more-button:hover {
  color: var(--white-color);
  background-color: var(--nav-background-green);
}

@media (min-width: 768px) {
  .main-content img {
    width: 100%;
    max-width: 400px;
  }

  .default-message {
    padding: 40px;
    border-radius: 12px;
    max-width: 900px;
    margin: 20px auto;
  }
}