:root {
  --nav-background-green: #425230;
  --nav-dark-black: #14190a;
  --nav-hover-text: #e4e5d8;
  --white-color: #ffffff;
  --background-body-offwhite: #fcfbf5;
  --dark-grey: #787c70;
  --medium-grey: #c9c9c0;
  --light-grey: #ddded7;
  --footer-background-green: #3c4230;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 font-family: "Comic Neue", cursive;
}

html {
  height: 100vh;
  overflow-x: hidden;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

}

.logo img {
  height: 60px;
  transform: scale(1.3);
  transform-origin: left center;
}

.logo img {
  height: 60px;
  transform: scale(1.3);
  transform-origin: left center;
}

.header {
  background-color: var(--nav-background-green);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: var(--white-color);
  text-decoration: none;
  border: none;
  padding: 0.85rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 8px;
}

.navbar a:hover {
  color: #14190a;
  background-color: var(--nav-hover-text);
}

.ham_menu {
  display: none;
}

.fa-bars {
  font-size: 2rem;
  color: var(--nav-hover-text);
}

.banner {
  position: relative;
  color: antiquewhite;
  width: 100%;
  height: 60vh;
}


.bg_video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.main-div {
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: row;
}

.main-content {
  background-color: var(--background-body-offwhite);
}

.main-paragraph,
.main-title,
.animal-card {
  width: 100%;
  padding: 25px 30px;
  text-align: center;
}

.animal-image {
  margin: 10px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 2px 10px var(--dark-grey)
}

.footer {
  background-color: var(--footer-background-green);
  color: var(--nav-hover-text);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  flex-direction: column;
  gap: 1.5;
  text-align: center;
}

.footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.footer-logo-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer-logo-title img {
  height: 40px;
  width: auto;
}

.footer-div h4 {
  margin-bottom: 0.5rem;
}

.footer-div p {
  line-height: 1.4;
  font-size: 0.85rem;
  text-align: left;
}

.footer-copyright {
  flex-basis: 100%;
  text-align: center;
  border-top: 1px solid var(--medium-grey);
  font-size: 0.85rem;
  padding-top: 1rem;
}

.footer-logo-title img {
  height: 40px;
  width: auto;
}

.footer-div h4 {
  margin-bottom: 0.5rem;
}

.footer-div p {
  line-height: 1.4;
  font-size: 0.85rem;
  text-align: left;
}

.footer-copyright {
  flex-basis: 100%;
  text-align: center;
  border-top: 1px solid var(--medium-grey);
  font-size: 0.85rem;
  padding-top: 1rem;
}


@media (min-width: 769px) {
  .sidebar-menu-icon {
    display: none;
  }

  .close-button {
    display: none;
  }

  .sidebar {
    background-color: var(--medium-grey);
    width: 20%;
    padding: 10px 0 10px 0;
    font-size: large;
  }

  .sidebar-home {
    background-color: var(--medium-grey);
    width: 20%;
    padding: 10px 0 10px 0;
    font-size: large;
  }

  .sidebar-title {
    margin: 0;
  }

  .sidebar-button {
    background-color: var(--dark-grey);
    color: var(--white-color);
    padding: 5px;
    margin: 5px 0 5px 0;
  }

  .sidebar-button:hover {
    background-color: var(--background-body-offwhite);
    color: var(--nav-dark-black);
  }

  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
  }

  .footer-div {
    align-items: flex-start;
    flex: 1;
  }

  .footer-div p {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    will-change: transform;
    background-color: var(--nav-hover-text);
  }

  .header {
    padding: 1.5rem;
  }

  .logo img {
    transform: scale(1);
  }

  .banner{

    overflow: hidden;
  }

  .ham_menu {
    display: block;
    position: absolute;
    right: 2rem;
  }

  .navbar a {
    font-size: 0.5rem;
    color: var(--nav-dark-black);
    font-size: 1rem;
  }

  .navbar.show {
    transform: translateX(0);
  }

  .fa-bars {
    font-size: 2rem;
    color: var(--nav-hover-text);
  }

  .sideburger-menu {
    font-size: 2rem;
    color: var(--dark-grey);
  }

  .sidebar {
    background-color: var(--medium-grey);
  }

  .sidebar-home {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background-color: var(--medium-grey);
    transform: translateX(-100%);
    z-index: 100;
  }

  .sidebar-button {
    background-color: var(--dark-grey);
    padding: 5px;
    margin: 10px 0;
    color: var(--white-color);
    font-size: x-large;
  }

  .sidebar-menu-icon {
    display: block;
    padding-top: 10px;
    background-color: var(--background-body-offwhite);
  }

  .sidebar-home.show {
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  .sidebar-title {
    font-size: x-large;
    text-align: center;
    padding-top: 5px;
  }

  .close-button {
    text-align: end;
  }
}