:root {
  --nav-backround-green: #425230;
  --nav-dark-black: #14190a;
  --nav-hover-text: #e4e5d8;
  --white-color: #ffffff;
  --background-body-offwhite: #fcfbf5;
  --dark-grey: #787c70;
  --medium-grey: #c9c9c0;
  --light-grey: #ddded7;
  --footer-background-green: #3c4230;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background-color: coral;
}

.banner {
  /* //background-color: black; */
  position: relative;
  color: antiquewhite;
  width: 100%;
  height: 60vh;
}

.bg_video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.main-div {
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  background-color: aqua;
}

.main-content {
  background-color: rgb(245, 129, 255);
  width: 100%;
}

.footer {
  background-color: coral;
}
